{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{ super() }} - Validador CPF
{% endblock %}

{% block content %}
    <h1>Situação Problema</h1>
    <p>
        Implementar um código que valide CPF
    </p>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.string.label }}<br>
        {{ form.string(id='entrada') }}<br>
        {% if form.string.errors.__len__() > 0 %}
            <span class="alert-danger"></span>
        {% endif %}
        {{ form.submit }}<br>
    </form>
    <br>

    <form action="" method="get">
        <label for="troca">Resultado</label><br>
        <input type="text" name="troca" id="troca" value="{{ retorno }}" disabled><br>
    </form>
    <br>
    <a href="{{ url_for('challenge_bp.home') }}">
        <button type="button"><< Voltar</button>
    </a>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/cpf.js') }}"></script>
{% endblock %}
