{% extends 'base.html' %}
{% block title %}
    {{ super() }} - Validador CPF
{% endblock %}

{% block content %}
    <h1>Situação Problema</h1>
    <p>
        Implementar um código que valide CPF
    </p>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.string.label }}<br>
        {{ form.string(id='entrada') }}<br>
        {{ form.submit }}<br>
    </form>
    <br>

    {% block form %}
        <form action="" method="get">
            <label for="troca">Resultado</label><br>
            <input type="text" name="troca" id="troca" value="{{ retorno }}" disabled><br>
        </form>
        <br>
    {% endblock %}

    <a href="{{ url_for('challenge_bp.home') }}">
        <button type="button"><< Voltar</button>
    </a>

{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/cpf.js') }}"></script>
{% endblock %}
