{% extends 'endereco_home.html' %}
{% block title %}
    Leal Challenge - Cadastro de {{ objeto.capitalize() }}
{% endblock %}
{% block content %}
    <h1>Cadastro de {{ objeto.capitalize() }}</h1>
    {% block tabela %}
        <table class="table table-bordered">
            {% if table|length > 0 %}
                <thead>
                <tr>
                    {% for foo in table[0].__dict_class__ %}
                        {% for k in foo.keys() %}
                            <th>
                                {{ k.upper() }}
                            </th>
                        {% endfor %}
                    {% endfor %}
                    <th>AÇÕES</th>
                </tr>
                </thead>
                <tbody>
                {% for foo in table %}
                    <tr>
                        {% for d in foo.__dict_class__ %}
                            {% if d.values()|length>0 %}
                                {% for v in d.values() %}
                                    <td>
                                        {% if v is not none %}
                                            {{ v }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <td>
                            <a href="{{ url_for('endereco_bp.editar', objeto=foo.__class__.__name__.lower(), id=foo.pkey) }}"
                               class="fa fa-pencil glyphicon glyphicon-pencil"></a>
                            <a href="{{ url_for('endereco_bp.deletar', objeto=foo.__class__.__name__.lower(), id=foo.pkey) }}" class="fa fa-trash glyphicon glyphicon-trash"></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            {% else %}
                <thead>
                <tr>
                    {% for foo in tabela2.__dict_class__ %}
                        {% for k in foo.keys() %}
                            <th>
                                {{ k }}
                            </th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <td class="text-center" colspan="{{ tabela2.__dict_class__|length }}">
                    Sem registros
                </td>
                </tbody>
            {% endif %}
        </table>
    {% endblock %}
    <div class="btn-group">
        <button href="#" class="btn btn-primary" type="button">
            <a style="text-decoration: none; color: black" class="btn-link" href="{{ url_for('endereco_bp.cadastro_novo', objeto=objeto) }}">Novo</a>
        </button>
    </div>
{% endblock %}