{% extends 'base.html' %}

{% block title %}
    {{ super() }} - Endereco
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="divider" role="separator"></li>
                    <li class="nav-item">
                        <a class="navbar-link" href="{{ url_for('challenge_bp.home') }}">Home</a>
                    </li>
                    <li class="divider" role="separator"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Cadastrar
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ url_for('endereco_bp.cadastro', objeto='pais') }}">Pais</a>
                            </li>
                            <li>
                                <a href="{{ url_for('endereco_bp.cadastro', objeto='estado') }}">Estado</a>
                            </li>
                            <li>
                                <a href="{{ url_for('endereco_bp.cadastro', objeto='cidade') }}">Cidade</a>
                            </li>
                            <li>
                                <a href="{{ url_for('endereco_bp.cadastro', objeto='bairro') }}">Bairro</a>
                            </li>
                            <li>
                                <a href="{{ url_for('endereco_bp.cadastro', objeto='rua') }}">Rua</a>
                            </li>
                            <li>
                                <a href="{{ url_for('endereco_bp.cadastro', objeto='endereco') }}">Endereço</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>CRUD DE ENDEREÇO</h1>
    <p>Abrange 6 tabelas: País, Estado, Cidade, Bairro, Rua, Endereco. Foi implementado o CRUD nas 6 utilizando python,
        HTML e JavaScript</p>
    <p>Para acessar, basta selecionar uma tabela em 'Cadastro' presente na navbar acima. A navegação é feita pela barra
        ou por botões de navegação na parte inferior do conteúdo da página</p>
    <p>Não caprichei tanto no frontend devido não ser tanto o foco.</p>
{% endblock %}