{% extends "base.html" %}
{% block title %}
    {{ super() }} - Home
{% endblock %}

{% block content %}
    <h1>Leal Challenge</h1>
    <ul>
        <li>
            <a href="{{ url_for('cpf_bp.validador') }}">Validador CPF</a>
        </li>
        <li>
            <a href="#">Cadastro Endereco</a>
        </li>
        <li>
            <a href="{{ url_for('cep_bp.cep') }}">Trocar CEP</a>
        </li>
        <li>
            <a href="#">Base de Endereço (DDL, DML e DQL)</a>
        </li>
    </ul>
{% endblock %}