{% extends 'base.html' %}
{% block title %}
    {{ super() }} - DML
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/default.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dracula.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/db.css') }}">
{% endblock %}

{% block content %}
    <h1>Situação Problema</h1>
    <p>
    <ul>
        <li>Criar uma base de dados de endereços, com tabelas normalizadas.</li>
        <li>Inserir alguns dados as tabelas</li>
        <li>
            Pesquisar o nome dos bairros a partir dos seguintes dados: <br>
            PAIS: BRASIL <br>
            ESTADO: PARA <br>
            CIDADE: BELEM
        </li>
    </ul>
    </p>
    <div class="code">
        <h2>DDL</h2>
        <pre><code class="sql hjls">{{ ddl }}</code></pre>
        <h2>DML</h2>
        <pre><code class="sql hjls">{{ dml }}</code></pre>
        <h2>DQL</h2>
        <pre><code class="sql hjls">{{ dql }}</code></pre>
    </div>
    <a href="{{ url_for('challenge_bp.home') }}">
        <button id="home" type="button"><< Voltar</button>
    </a>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
    <script src="{{ url_for('static', filename='js/sql.js') }}"></script>
{% endblock %}